[submodule "u-boot"]
	path = u-boot
	url = https://github.com/STMicroelectronics/u-boot
	branch = v2020.10-stm32mp

[submodule "linux"]
	path = linux
	url = https://github.com/STMicroelectronics/linux
	branch = v5.10-stm32mp

[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/STMicroelectronics/arm-trusted-firmware
	branch = v2.4-stm32mp

[submodule "gcnano-binaries"]
	path = gcnano-binaries
	url = https://github.com/STMicroelectronics/gcnano-binaries
	branch = gcnano-6.4.3-binaries

